/*NAVIGATION*/

 .nav {
	margin: 0 auto;
	padding: 20px 20px 14px;	
	text-align: center;
}

.nav_list {
	list-style-type: none;
	margin: 0;
	text-decoration: none;
}

.nav_item {
	display: inline-block;
	margin-right: 3.75%;
	font-size: 16px;
}

.nav_item:last-child {
	margin-right: 0;}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}


/*GAME START*/

.start {
		background-color: black;
	}


.picbox { 
  width: 126px; 
  height: 100px; 
  background:   url(http://i.imgur.com/xUOcczK.png?2) no-repeat; 
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  margin-top: 200px;
} 

 
.picbox:hover { 
  width: 126px; 
  height: 100px; 
  background:
 url(http://i.imgur.com/fnbG5uX.png?1) no-repeat; }

.animation{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; 
  background:black;
  opacity: 0.8;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}


/*HOMEPAGE*/

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

/*PROJECTS*/

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

/*ABOUT ME*/

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

/*CONTACT*/

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}
