/*NAVIGATION*/

 .nav {
	margin: 0 auto;
	padding: 20px 20px 14px;	
	text-align: center;
}

.nav_list {
	list-style-type: none;
	margin: 0;
	text-decoration: none;
}

.nav_item {
	display: inline-block;
	margin-right: 3.75%;
	font-size: 16px;
}

.nav_item:last-child {
	margin-right: 0;}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

/*HOMEPAGE*/

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

/*PROJECTS*/

.headline{
  text-align: center;
}

.portfolio-list--fixed {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
}

@media (min-width: 768px) {
	.portfolio-list--fixed {
		width: 586px;
		margin: 0 auto;
		/*width: 76.30208333%;*/
	}	
}

@media (min-width: 1024px) {
	.portfolio-list--fixed {
		width: 984px;
		/*width: 96.09375%;
		max-width: 1200px;*/
	}	
}

/*  PORTFOLIO - ITEM - Fixed  */

.portfolio-link--fixed {
	width: 210px;
	/*width: 65.625%;*/
	height: 150px;
	margin: 20px auto;
	/*margin: 6.25% auto;*/
	background: #d8d8d8;
	display: block;
}

@media (min-width: 768px) {
	.portfolio-link--fixed {
		width: 253px;
		/*width: 43.14381271%;*/
		height: 180px;
		float: left;
		margin: 20px;
		/*margin: 3.412969283%;*/
	}
}

@media (min-width: 1024px) {
	.portfolio-link--fixed {
		width: 288px;
		/*width: 29.26829268%;*/
		height: 206px;
		/*margin: 2.032520325%;*/
	}	
}


/*ABOUT ME*/

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

/*CONTACT*/

body {
  font: 16px Helvetica;
}

.container {
  width: 400px;
  margin: 2em auto;
  overflow: hidden;
  background: white;
  border-radius: 5px;
}

.message, .contact, .name, .footer, header, footer, textarea {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  clear: both;
  overflow: hidden;
}

header, footer {
  height: 75px;
  background: rgba(0, 0, 0, 0.05);
  line-height: 75px;
  padding-left: 20px;
  border-radius: 5px 5px 0 0;
}
header h1, footer h1 {
  font-size: 1.2em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.4);
}

.first, .last {
  float: left;
  width: 278px;
  margin: 0;
  padding: 0 0 0 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 50px;
}

.last {
  width: 279px;
  border-left: 0;
}

.email, textarea {
  height: 50px;
  width: 350px;
  line-height: 50px;
  padding: 0 0 0 20px;
  border-top: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

textarea {
  height: 200px;
}

footer {
  height: 49px;
  border-top: 1px dashed rgba(0, 0, 0, 0.3);
  border-radius: 0 0 5px 5px;
  padding-left: 0;
  padding-right: 20px;
}
footer button {
  height: 32px;
  background: darkgray;
  border-radius: 5px;
  border: 0;
  margin: 7px 0;
  color: white;
  float: right;
  padding: 0 20px 0 20px;
  border-bottom: 3px solid gray ;
  transition: all linear .2s;
}
footer button:hover {
  background: gray;
}
footer button:focus {
  outline: none;
}

.first:focus, .last:focus, .email:focus, textarea:focus, textarea:focus {
  outline: none;
  background: rgba(52, 152, 219, 0.1);
  color: rgba(51, 51, 51, 0.7);
}


@media (min-width: 768px) {
.container {
  width: 600px;
  margin: 2em auto;
  overflow: hidden;
  background: white;
  border-radius: 5px;
}
.email, textarea {
  width: 578px;

}


@media (min-width: 1024px) {
.container {
  width: 600px;
  margin: 2em auto;
  overflow: hidden;
  background: white;
  border-radius: 5px;
}
.email, textarea {
  width: 578px;
}
