body {
	font-size: 100%;
	/* base font size 16px */
	background-color: white;
}

@media (min-width: 20em) { 
/* 320/16 = 20 */
	
	body {
		background-color: blue;
	}
}

@media (min-width: 30em) { 
/* 480/16 = 30 */

	body {
		background-color: green;
	}
}

@media (min-width: 37.5em) { 
/* 600/16 = 37.5 */
	
}

body {
		background-color: black;
	}


.picbox { 
  width: 126px; 
  height: 100px; 
  background:   url(http://i.imgur.com/xUOcczK.png?2) no-repeat; 
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  margin-top: 200px;
} 

 
.picbox:hover { 
  width: 126px; 
  height: 100px; 
  background:
 url(http://i.imgur.com/fnbG5uX.png?1) no-repeat; }

.animation{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; 
  background:black;
  opacity: 0.8;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }

}

	@media (min-width: 20em) { 
	/* 320/16 = 20 */
		
		.headline {
			font-size: 2em; /* 32px */
		}
	}

	@media (min-width: 30em) { 
	/* 480/16 = 30 */

		.headline {
			font-size: 3em; /* 48px */
		}
	}

	@media (min-width: 37.5em) { 
	/* 600/16 = 37.5 */

		.headline {
			font-size: 4em; /* 64px */
		}

		.third-headline {
			/* 120 / 64 = 1.875 */
			font-size: 1.875em; /* 120px */
		}
	}

@media (min-width: 1024px) {
	.portfolio-link--fixed {
		width: 288px; 
		width: 29.26829268%;
		height: 206px;
		margin: 2.032520325%;

.Project {
	background-color: white;
}