@media (max-width: 767px) {
    .start {
        display:block !important;
    }
 
    .animation {
        display:none !important;
    }

    .picbox { 
      width: 126px; 
      height: 100px; 
      background: url(http://i.imgur.com/xUOcczK.png?2) no-repeat; 
      background-size
      margin-left: auto;
      margin-right: auto;
      vertical-align: middle;
      margin-top: 200px;
      margin: 0 auto;
      
    }
}


@media (min-width: 768px) {
	.start{
		display: none;
	}


	.picbox { 
  width: 126px; 
  height: 100px; 
  background:   url(http://i.imgur.com/xUOcczK.png?2) no-repeat; 
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  margin-top: 200px;
} 

 
.picbox:hover { 
  width: 126px; 
  height: 100px; 
  background:
 url(http://i.imgur.com/fnbG5uX.png?1) no-repeat; }

.animation{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; 
  background:black;
  opacity: 0.8;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }

}

}

@media (min-width: 1024px) {
	.start{
		display: none;
	}
	.picbox { 
  width: 126px; 
  height: 100px; 
  background:   url(http://i.imgur.com/xUOcczK.png?2) no-repeat; 
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
} 

 
.picbox:hover { 
  width: 126px; 
  height: 100px; 
  background:
 url(http://i.imgur.com/fnbG5uX.png?1) no-repeat; }


.animation{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; 
  background:black;
  opacity: 0.8;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }

}

}

body {
		background-color: black;
	}



} 

 
.picbox:hover { 
  width: 126px; 
  height: 100px; 
  background:
 url(http://i.imgur.com/fnbG5uX.png?1) no-repeat;
  }

	.start {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; 
  background:black;
  opacity: 0.8;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }

	}